<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568528201860-mvf783u60cf60hittsp3er0n0pclb0lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568528201860-mvf783u60cf60hittsp3er0n0pclb0lp</string>
	<key>API_KEY</key>
	<string>AIzaSyA1IN8ST5bR9sIGSfLaAPf0EmfY4HvRj8A</string>
	<key>GCM_SENDER_ID</key>
	<string>568528201860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liliApp.jp.jds</string>
	<key>PROJECT_ID</key>
	<string>lili-app-61e17</string>
	<key>STORAGE_BUCKET</key>
	<string>lili-app-61e17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568528201860:ios:22d265be5246109022fad1</string>
</dict>
</plist>